<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

       <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/admin" class="nav-link px-2 text-secondary">Home</a></li>
         <!-- <li><a href="/admin/add-new-product" class="nav-link px-2 text-secondary">Add New Product</a></li>
        -->
          <li><a href="/admin/manage-products" class="nav-link px-2 text-secondary">Manage Products</a></li>
          <li><a href="/admin/users" class="nav-link px-2 text-secondary">Manage Users</a></li>
         
          <li><a href="#" class="nav-link px-2 text-secondary">Orders</a></li>
        </ul>    

        <div class="text-end">
         
          <button type="button" routerLink="/admin-login" class="btn btn-outline-light me-2">Admin Login</button>
        </div>
      </div>
    </div>
  </header>

<div class="card">
    <div class="card-header">
            Details of {{product.productName}}
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                
                <tr>
                    <th>Product ID</th>
                    <td>{{id}}</td>
                </tr>
            <tr>
                <th>Product Name</th>
                <td>{{product.productName}}</td>
            </tr>

            <tr>
                <th>Product price</th>
                <td>{{product.price}}</td>
            </tr>

            <tr>
                <th>Product Discounted Price</th>
                <td>{{product.discountPrice}}</td>
            </tr>

            <tr>
                <th>Product Department</th>
                <td>{{product.department}}</td>
            </tr>

            <tr>
                <th>Product Description</th>
                <td>{{product.description}}</td>
            </tr>
        </tbody>
        </table>
    </div>

    <div class="card-footer">
        <a class="btn btn-warning" routerLink="/admin/manage-products">Go Back</a>
        <a [routerLink]="['/admin/manage-products/edit/',id]" class="btn btn-primary">Update Product</a>
       
        <a class="btn btn-danger" (click)="deleteProduct()" >Delete</a>
    </div>

</div>