<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

       <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/admin" class="nav-link px-2 text-secondary">Home</a></li>
         <!-- <li><a href="/admin/add-new-product" class="nav-link px-2 text-secondary">Add New Product</a></li>
        -->
          <li><a href="/admin/manage-products" class="nav-link px-2 text-secondary">Manage Products</a></li>
          <li><a href="/admin/users" class="nav-link px-2 text-secondary">Manage Users</a></li>
         
          <li><a href="#" class="nav-link px-2 text-secondary">Orders</a></li>
        </ul>    

        <div class="text-end">
         
          <button type="button" routerLink="/admin-login" class="btn btn-outline-light me-2">Admin Login</button>
        </div>
      </div>
    </div>
  </header>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2> Update User </h2>
        </div>

        <div class="card-body">
            <form [formGroup]="editUserForm" (ngSubmit)="updateUser()" novalidate>

                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="firstName" name="firstName" placeholder="First Name" 
                    [ngClass]="{ 'is-invalid': f.firstName.touched && f.firstName.invalid }" [(ngModel)]="editUser.firstName">
                    <div *ngIf="f.firstName.touched && f.firstName.invalid" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        <div *ngIf="f.firstName.errors.minlength">Minimum 3 characters are required</div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="lastName" name="lastName" placeholder="Last Name" 
                    [ngClass]="{ 'is-invalid': f.lastName.touched && f.lastName.invalid }" [(ngModel)]="editUser.lastName">
                    <div *ngIf="f.lastName.touched && f.lastName.invalid" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="username" name="username" placeholder="Email" 
                    [ngClass]="{ 'is-invalid': f.username.touched && f.username.invalid }" [(ngModel)]="editUser.username">
                    <div *ngIf="f.username.touched && f.username.invalid" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Email is required</div>
                        <div *ngIf="f.username.errors.email">Enter a valid email address</div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="phone" name="phone" placeholder="Phone" 
                    [ngClass]="{ 'is-invalid': f.phone.touched && f.phone.invalid }" [(ngModel)]="editUser.phone">
                    <div *ngIf="f.phone.touched && f.phone.invalid" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                        <div *ngIf="f.phone.errors.minlength">Phone number must contain 10 digits</div>
                    </div>
                </div>

                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="makeAdmin" name="makeAdmin" [(ngModel)]="editUser.admin" value=true>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Make user an admin</label>
                </div>
                <br />
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-primary">Update</button> &nbsp;
                    <button type="button" routerLink="/admin/users" class="btn btn-primary">Back</button>
                </div>
                
               
            </form>

        </div>

    </div>



</div>