

<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

       <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/homepage" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a routerLink="/category-listing" class="nav-link px-2 text-secondary">Categories</a></li> 
          <li><a routerLink="/product-detail" class="nav-link px-2 text-secondary">Product Details</a></li> 
          <li><a routerLink="/userprofile" class="nav-link px-2 text-secondary">Profile</a></li>
         
        </ul>
      
         <!--<div class="text-end">   
         <button type="button" routerLink="/admin-login" class="btn btn-outline-light me-2">Admin Login</button>
          <button type="button" routerLink="/register" class="btn btn-outline-light">Register</button> | 
          <button type="button" routerLink="/userlogin" class="btn btn-outline-light">Login</button>
        </div>-->
      </div>
    </div>
  </header>
  
<div class="card">
    <div class="card-header">
            Details of {{user.firstName}}
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                
                <tr>
                    <th>User ID</th>
                    <td>{{id}}</td>
                </tr>
            <tr>
                <th>First Name</th>
                <td>{{user.firstName}}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{user.lastName}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{user.phone}}</td>
            </tr>
            

            
        </tbody>
        </table>
    </div>

    <div class="card-footer">
        <a class="btn btn-warning" routerLink="/homepage">Go Back</a>
        <a [routerLink]="['/usereditprofile']" class="btn btn-primary">Update User</a>
       
        <!--<a class="btn btn-danger" (click)="deleteProduct()" >Delete</a>-->
    </div>

</div>