<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

       <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/homepage" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a routerLink="/category-listing" class="nav-link px-2 text-secondary">Categories</a></li> 
          <li><a routerLink="/product-detail" class="nav-link px-2 text-secondary">Product Details</a></li> 
          <li><a routerLink="/userprofile" class="nav-link px-2 text-secondary">Profile</a></li>
         
        </ul>
      
         <!--<div class="text-end">   
         <button type="button" routerLink="/admin-login" class="btn btn-outline-light me-2">Admin Login</button>
          <button type="button" routerLink="/register" class="btn btn-outline-light">Register</button> | 
          <button type="button" routerLink="/userlogin" class="btn btn-outline-light">Login</button>
        </div>-->
      </div>
    </div>
  </header>

<div class="container">
    <div class="row g-3">
        <div class="col-3">
            <div class="card fw-bold border-0">
                <div class="card-body">
                    Price Range
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" (click)="priceRange(5, 50)"><button class="btn btn-link-dark p-0 fw-bold" id="button">€5 - €50</button></li>
                        <li class="list-group-item" (click)="priceRange(50, 150)"><button class="btn btn-link-dark p-0 fw-bold" id="button">€50 - €150</button></li>
                        <li class="list-group-item" (click)="priceRange(150, 500)"><button class="btn btn-link-dark p-0 fw-bold" id="button">€150 - €500</button></li>
                        <li class="list-group-item" (click)="priceRange(500, 1500)"><button class="btn btn-link-dark p-0 fw-bold" id="button">€500 - €1500</button></li>
                        <li class="list-group-item" (click)="priceRange(1500, 5000)"><button class="btn btn-link-dark p-0 fw-bold" id="button">€1500 - €5000</button></li>
                        <li class="list-group-item" (click)="priceRange(0, MAX)"><button class="btn btn-link-dark p-0 fw-bold" id="button">Reset</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <h2>{{ department.replace('-', ' ') }}</h2>
            <div class="row row-cols-3">
                <ng-container *ngFor="let product of productList | filter:min:max">
                    <div class="col mb-3" *ngIf="product.department == department">
                        <div class="card" *ngIf="!product.topSelling; else elseBlock">
                            <img src="{{ product.image }}" alt="..." width="100%" height="250px" style="object-fit: cover;">
                            <div class="card-footer">
                                {{ product.discountPrice | currency:'EUR' }}
                                <button (click)="addToCart(product)" class="btn btn-outline-primary btn-sm float-end">Add to Cart</button>
                            </div>
                        </div>
                        <ng-template #elseBlock>
                            <div class="card text-dark">
                                <div class="card-header" style="font-size: small;">Top Selling Product!</div>
                                <img src="{{ product.image }}" alt="..." width="100%" height="250px" style="object-fit: cover;">
                                <div class="card-footer">
                                    {{ product.discountPrice | currency:'EUR' }}
                                    <button (click)="addToCart(product)" class="btn btn-outline-primary btn-sm float-end">Add to Cart</button>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>